* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	color: #000;
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
}

#main {
	
}

#header {
	height: 90px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	border-bottom: 1px solid #ffffff;
}

#header-inner {
	width: 950px;
	margin: auto;
}

#page {
	border-top: 1px solid #dfdfdf;
}

#page-inner {
	width: 920px;
	min-height: 300px;
	margin: -30px auto 0 auto;
	padding: 15px;
	background-color: #ffffff;
	
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

#footer {
	width: 920px;
	margin: 10px auto;
}


h1 {
	font-size: 170%;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 150%;
	margin-top: 1.5em;
	border-top: 4px solid #E0E0E0;
	padding-top: .5em;
}




/* Suggest */
input, textarea {
	width: 300px;
	padding: 7px;
	letter-spacing: 1px;
	font-size: 11px;
	font-family: "Times New Roman",Georgia,Serif;
	
}
